@media(max-width: 1480px) {
    .carousel-image {
        object-fit: contain;
        /* This ensures the image spreads to fit within the fixed size */
    }
}

.news-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 1);
    /* Make the container full screen height */
}

.carousel-image {
    width: 80vw;
    height: 70vh;
    object-fit: fill;
    /* This ensures the image spreads to fit within the fixed size */
}

.caption-container {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    max-height: 20%;
    min-height: 20%;
    background-color: black;
    opacity: 0.8;
    /* Center the text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
}

.caption-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.caption-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.caption-link {
    color: lightgrey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    color: white;
    margin-bottom: 25px;
    padding: 10px
}

/* news-carousel.css */
.carousel-control-prev {
    background-color: rgb(63, 59, 59);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.carousel-control-next {
    background-color: rgb(63, 59, 59);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}